.list-group-item {
    text-align: left;
}
.btn-dialog {
    min-width: 125px;
    margin: 10px;
}
.rootContainer > div:first-child {
    min-height: 325px;
}
@import '../node_modules/bootstrap/dist/css/bootstrap.css', '../node_modules/react-rrule-generator/build/styles.css'
